body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    height: 50px;
    width: 50px;
}

.logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.link-list{
    display: flex;
    gap: 16px;
    padding-right: 16px;
    
   
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.header-list-item{
    list-style-type: none;
    
}


.hero-box{
    height: 400px;
    width: auto;
    background-color: #1f2937;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

h1, p {
    margin: 0;
}
    



h1 {
    font-size: 48px;
    font-weight: 900;
    
    color: #f9faf8;
    margin-bottom: 10px;
}

.logo-text{
    font-size: 18px;
    color: #E5E7EB;
    
}

.hero-description{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}
/*p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}*/

.sign-up{
    height:40px;
    width: 100px;
    margin: 0;
    background-color: #1f2937;
    border-radius: 10px;
    border: 2px solid black;
}

.hero-content{
    display: flex;
    background-color: #1f2937;
    width: 400px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.picture-placeholder{
    background-color: #E5E7EB;
    height: 200px;
    width: 500px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box{
     background-color:;
    margin: 0;
    padding: 0px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    
}

.center-box-title{
    font-size: 24px;
    font-weight: 700;
    
}

.center-picture-box{
    display: flex;
    justify-content: center;
   gap: 60px;
   height: 400px;
   width: 400px;
   margin: 0;
   padding: 0;
}
.center-picture-placeholder{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 20%;
   
}


.center-picture-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 8px;
}

.picture-item-description{
    font-size: 16px;
   
}

.quote-section{
    background-color:#E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    padding: 50px;
}

.quote-author{
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    text-align: end;
   margin-right: 500px;
}
